body {
font-family: Arial, sans-serif;
background: linear-gradient(to right, #0055A4, white, #EF4135);
margin: 0;
text-align: center;
}

header {
background-color: #002654;
color: white;
padding: 20px;
}

h1 {
margin-bottom: 5px;
}

main {
width: 80%;
margin: auto;
background-color: rgba(255, 255, 255, 0.9);
padding: 20px;
border-radius: 10px;
margin-top: 20px;
}

img {
width: 400px;
max-width: 100%;
border-radius: 10px;
border: 4px solid #002654;
}

section p {
font-size: 18px;
line-height: 1.6;
}

ul {
list-style: none;
padding: 0;
}

li {
background-color: #0055A4;
color: white;
margin: 5px auto;
padding: 10px;
width: 60%;
border-radius: 8px;
transition: 0.3s;
}

li:hover {
background-color: #EF4135;
transform: scale(1.05);
}

footer {
background-color: #002654;
color: white;
padding: 15px;
margin-top: 20px;
}